In [2]:
# Welcome to your new notebook
# Type here in the cell editor to add code!

# Lets read the data from silver :
from pyspark.sql import SparkSession

# Load Silver data
df_bank_silver = spark.read.format("delta").load("abfss://FabricTrainingWorkspace@onelake.dfs.fabric.microsoft.com/LH_Finance_Project_Prathamesh_Kodgirwar.Lakehouse/Files/Silver/bank_data_cleaned")
df_customer_silver = spark.read.format("delta").load("abfss://FabricTrainingWorkspace@onelake.dfs.fabric.microsoft.com/LH_Finance_Project_Prathamesh_Kodgirwar.Lakehouse/Files/Silver/customer_data_cleaned")
df_transaction_silver = spark.read.format("delta").load("abfss://FabricTrainingWorkspace@onelake.dfs.fabric.microsoft.com/LH_Finance_Project_Prathamesh_Kodgirwar.Lakehouse/Files/Silver/transaction_data_cleaned")

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 4, Finished, Available, Finished)

In [3]:
df_bank_silver.printSchema()
df_customer_silver.printSchema()
df_transaction_silver.printSchema()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 5, Finished, Available, Finished)

root
 |-- Branch_ID: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Firm_Revenue: double (nullable = true)
 |-- Expenses: double (nullable = true)
 |-- Profit_Margin: double (nullable = true)

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Customer_Type: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Bank_Name: string (nullable = true)
 |-- Branch_ID: integer (nullable = true)

root
 |-- Transaction_ID: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Account_Type: string (nullable = true)
 |-- Total_Balance: double (nullable = true)
 |-- Transaction_Amount: double (nullable = true)
 |-- Investment_Amount: double (nullable = true)
 |-- Investment_Type: string (nullable = true)
 |-- Transaction_Date: date (nullable = true)

Fixing the mismatched data types oin the following :

In [4]:
from pyspark.sql.functions import col

# df_bank_silver = df_bank_silver.withColumn("Branch_ID", col("Branch_ID").cast("integer"))
# df_customer_silver = df_customer_silver.withColumn("Customer_ID", col("Customer_ID").cast("integer"))
df_transaction_silver=df_transaction_silver.withColumn("Transaction_ID", col("Transaction_ID").cast("integer"))

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 6, Finished, Available, Finished)

In [5]:
df_bank_silver.printSchema()
df_customer_silver.printSchema()
df_transaction_silver.printSchema()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 7, Finished, Available, Finished)

root
 |-- Branch_ID: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Firm_Revenue: double (nullable = true)
 |-- Expenses: double (nullable = true)
 |-- Profit_Margin: double (nullable = true)

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Customer_Type: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Bank_Name: string (nullable = true)
 |-- Branch_ID: integer (nullable = true)

root
 |-- Transaction_ID: integer (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Account_Type: string (nullable = true)
 |-- Total_Balance: double (nullable = true)
 |-- Transaction_Amount: double (nullable = true)
 |-- Investment_Amount: double (nullable = true)
 |-- Investment_Type: string (nullable = true)
 |-- Transaction_Date: date (nullable = true)

Lets check similarly if data consists of null values or not :

In [6]:
from pyspark.sql.functions import col, sum

def count_nulls(df):
    return df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])

# Check null values in each table
nulls_bank = count_nulls(df_bank_silver)
nulls_customer = count_nulls(df_customer_silver)
nulls_transaction = count_nulls(df_transaction_silver)

# Show the result
nulls_bank.show()
nulls_customer.show()
nulls_transaction.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 8, Finished, Available, Finished)

+---------+----+------+------------+--------+-------------+
|Branch_ID|City|Region|Firm_Revenue|Expenses|Profit_Margin|
+---------+----+------+------------+--------+-------------+
|        0|   0|     0|           0|       0|            0|
+---------+----+------+------------+--------+-------------+

+-----------+---+-------------+----+------+---------+---------+
|Customer_ID|Age|Customer_Type|City|Region|Bank_Name|Branch_ID|
+-----------+---+-------------+----+------+---------+---------+
|          0|  0|            0|   0|     0|        0|        0|
+-----------+---+-------------+----+------+---------+---------+

+--------------+-----------+------------+-------------+------------------+-----------------+---------------+----------------+
|Transaction_ID|Customer_ID|Account_Type|Total_Balance|Transaction_Amount|Investment_Amount|Investment_Type|Transaction_Date|
+--------------+-----------+------------+-------------+------------------+-----------------+---------------+----------------+
|             0|          0|           0|            0|                 0|                0|              0|               0|
+--------------+-----------+------------+-------------+------------------+-----------------+---------------+----------------+

**Standardizing Data**

Here changing the date to standard date format :

In [7]:
from pyspark.sql.functions import to_date

df_transaction_silver = df_transaction_silver.withColumn("Transaction_Date", to_date(col("Transaction_Date"), "yyyy-MM-dd"))

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 9, Finished, Available, Finished)

In [8]:
df_transaction_silver.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 10, Finished, Available, Finished)

+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
|Transaction_ID|Customer_ID|Account_Type|Total_Balance|Transaction_Amount|Investment_Amount|  Investment_Type|Transaction_Date|
+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
|        300008|     201643|    Business|      60911.0| 5224.002812996517|          45985.0|Recurring Deposit|      2025-02-04|
|        300021|     209684|    Business|      70335.0|             361.0|          47823.0|Recurring Deposit|      2024-08-08|
|        300041|     202102|    Business|      86047.0|            1011.0|          19917.0|Recurring Deposit|      2022-08-12|
|        300045|     201453|    Business|      41400.0|            3924.0|          29495.0|Recurring Deposit|      2023-09-06|
|        300057|     202042|    Business|      79085.0|            3989.0|          46476.0|Recurring Deposit|      2024-11-05|
|        300073|     204152|    Business|      41654.0|             292.0|           6727.0|Recurring Deposit|      2024-12-02|
|        300074|     202561|    Business|      94115.0|            3227.0|          16048.0|Recurring Deposit|      2023-10-08|
|        300076|     208596|    Business|      77182.0|             385.0|          37067.0|Recurring Deposit|      2023-10-17|
|        300085|     207741|    Business|      46631.0|            1164.0|          29535.0|Recurring Deposit|      2024-10-22|
|        300087|     208995|    Business|      20259.0|            2198.0|           3160.0|Recurring Deposit|      2022-12-11|
|        300088|     201127|    Business|       2577.0|            1476.0|           5260.0|Recurring Deposit|      2024-06-27|
|        300097|     209421|    Business|      83453.0|            1409.0|          29438.0|Recurring Deposit|      2023-02-25|
|        300107|     208391|    Business|      57068.0|             544.0|          43856.0|Recurring Deposit|      2023-02-11|
|        300108|     209582|    Business|      77018.0|            2580.0|          13089.0|Recurring Deposit|      2024-08-18|
|        300113|     200053|    Business|      88489.0|            4528.0|          25322.0|Recurring Deposit|      2023-11-25|
|        300124|     208850|    Business|      43169.0|            2984.0|          28130.0|Recurring Deposit|      2024-01-15|
|        300126|     202265|    Business|      72586.0|            3575.0|          38148.0|Recurring Deposit|      2023-12-01|
|        300132|     204599|    Business|       6606.0|             674.0|           6690.0|Recurring Deposit|      2022-08-09|
|        300138|     208610|    Business|      92016.0|            1833.0|          33244.0|Recurring Deposit|      2025-02-10|
|        300140|     204532|    Business|      76590.0|             689.0|          38185.0|Recurring Deposit|      2024-10-02|
+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
only showing top 20 rows

**On close observation we can notice that floating point numbers are not in order we can define it.**

In [9]:
from pyspark.sql.functions import round

df_bank_silver = df_bank_silver.withColumn("Expenses", round(col("Expenses"), 2))
df_bank_silver = df_bank_silver.withColumn("Profit_Margin", round(col("Profit_Margin"), 2))
df_bank_silver = df_bank_silver.withColumn("Firm_Revenue", round(col("Firm_Revenue"), 2))

df_transaction_silver = df_transaction_silver.withColumn("Total_Balance", round(col("Total_Balance"), 2))
df_transaction_silver = df_transaction_silver.withColumn("Transaction_Amount", round(col("Transaction_Amount"), 2))
df_transaction_silver = df_transaction_silver.withColumn("Investment_Amount", round(col("Investment_Amount"), 2))

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 11, Finished, Available, Finished)

In [10]:
df_bank_silver.show()
df_transaction_silver.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 12, Finished, Available, Finished)

+---------+------+------+------------+--------+-------------+
|Branch_ID|  City|Region|Firm_Revenue|Expenses|Profit_Margin|
+---------+------+------+------------+--------+-------------+
|     1004|Nagpur|  West|    282701.0|148194.0|        -14.1|
|     1012|Nagpur|  West|    969777.0|347637.0|        -11.4|
|     1036|Nagpur|  West|    729537.0|225109.0|         7.71|
|     1054|Nagpur|  West|    967410.0|419776.0|       -46.92|
|     1069|Nagpur|  West|   514074.18|279148.0|        64.56|
|     1077|Nagpur|  West|    985286.0|152371.0|        -6.82|
|     1081|Nagpur|  West|    810727.0|234848.0|        63.59|
|     1084|Nagpur|  West|    604344.0|406488.0|         4.09|
|     1118|Nagpur|  West|    204248.0|208385.0|         83.7|
|     1162|Nagpur|  West|    505660.0|216164.0|        39.35|
|     1189|Nagpur|  West|     91013.0|229704.0|        29.68|
|     1223|Nagpur|  West|    297321.0|143804.0|        70.78|
|     1250|Nagpur|  West|    366272.0|145010.0|        -7.91|
|     1275|Nagpur|  West|    441168.0|269966.0|        16.04|
|     1291|Nagpur|  West|     70949.0|354685.0|         97.7|
|     1357|Nagpur|  West|    491869.0| 66944.0|        -1.34|
|     1394|Nagpur|  West|    651591.0|389920.0|        51.74|
|     1488|Nagpur|  West|     80167.0|128157.0|        45.38|
|     1515|Nagpur|  West|    943560.0|228782.0|        26.07|
|     1542|Nagpur|  West|    438639.0| 76596.0|        68.97|
+---------+------+------+------------+--------+-------------+
only showing top 20 rows

+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
|Transaction_ID|Customer_ID|Account_Type|Total_Balance|Transaction_Amount|Investment_Amount|  Investment_Type|Transaction_Date|
+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
|        300008|     201643|    Business|      60911.0|            5224.0|          45985.0|Recurring Deposit|      2025-02-04|
|        300021|     209684|    Business|      70335.0|             361.0|          47823.0|Recurring Deposit|      2024-08-08|
|        300041|     202102|    Business|      86047.0|            1011.0|          19917.0|Recurring Deposit|      2022-08-12|
|        300045|     201453|    Business|      41400.0|            3924.0|          29495.0|Recurring Deposit|      2023-09-06|
|        300057|     202042|    Business|      79085.0|            3989.0|          46476.0|Recurring Deposit|      2024-11-05|
|        300073|     204152|    Business|      41654.0|             292.0|           6727.0|Recurring Deposit|      2024-12-02|
|        300074|     202561|    Business|      94115.0|            3227.0|          16048.0|Recurring Deposit|      2023-10-08|
|        300076|     208596|    Business|      77182.0|             385.0|          37067.0|Recurring Deposit|      2023-10-17|
|        300085|     207741|    Business|      46631.0|            1164.0|          29535.0|Recurring Deposit|      2024-10-22|
|        300087|     208995|    Business|      20259.0|            2198.0|           3160.0|Recurring Deposit|      2022-12-11|
|        300088|     201127|    Business|       2577.0|            1476.0|           5260.0|Recurring Deposit|      2024-06-27|
|        300097|     209421|    Business|      83453.0|            1409.0|          29438.0|Recurring Deposit|      2023-02-25|
|        300107|     208391|    Business|      57068.0|             544.0|          43856.0|Recurring Deposit|      2023-02-11|
|        300108|     209582|    Business|      77018.0|            2580.0|          13089.0|Recurring Deposit|      2024-08-18|
|        300113|     200053|    Business|      88489.0|            4528.0|          25322.0|Recurring Deposit|      2023-11-25|
|        300124|     208850|    Business|      43169.0|            2984.0|          28130.0|Recurring Deposit|      2024-01-15|
|        300126|     202265|    Business|      72586.0|            3575.0|          38148.0|Recurring Deposit|      2023-12-01|
|        300132|     204599|    Business|       6606.0|             674.0|           6690.0|Recurring Deposit|      2022-08-09|
|        300138|     208610|    Business|      92016.0|            1833.0|          33244.0|Recurring Deposit|      2025-02-10|
|        300140|     204532|    Business|      76590.0|             689.0|          38185.0|Recurring Deposit|      2024-10-02|
+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
only showing top 20 rows

**Converting all string columns to lowercase for uniformity.**

In [11]:
from pyspark.sql.functions import lower

df_customer_silver = df_customer_silver.withColumn("Customer_Type", lower(col("Customer_Type")))
df_customer_silver = df_customer_silver.withColumn("City", lower(col("City")))
df_customer_silver = df_customer_silver.withColumn("Region", lower(col("Region")))
df_customer_silver = df_customer_silver.withColumn("Bank_Name", lower(col("Bank_Name")))

df_bank_silver = df_bank_silver.withColumn("City", lower(col("City")))
df_bank_silver = df_bank_silver.withColumn("Region", lower(col("Region")))

df_transaction_silver = df_transaction_silver.withColumn("Account_Type", lower(col("Account_Type")))
df_transaction_silver = df_transaction_silver.withColumn("Investment_Type", lower(col("Investment_Type")))

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 13, Finished, Available, Finished)

In [12]:
df_bank_silver.show()
df_customer_silver.show()
df_transaction_silver.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 14, Finished, Available, Finished)

+---------+------+------+------------+--------+-------------+
|Branch_ID|  City|Region|Firm_Revenue|Expenses|Profit_Margin|
+---------+------+------+------------+--------+-------------+
|     1004|nagpur|  west|    282701.0|148194.0|        -14.1|
|     1012|nagpur|  west|    969777.0|347637.0|        -11.4|
|     1036|nagpur|  west|    729537.0|225109.0|         7.71|
|     1054|nagpur|  west|    967410.0|419776.0|       -46.92|
|     1069|nagpur|  west|   514074.18|279148.0|        64.56|
|     1077|nagpur|  west|    985286.0|152371.0|        -6.82|
|     1081|nagpur|  west|    810727.0|234848.0|        63.59|
|     1084|nagpur|  west|    604344.0|406488.0|         4.09|
|     1118|nagpur|  west|    204248.0|208385.0|         83.7|
|     1162|nagpur|  west|    505660.0|216164.0|        39.35|
|     1189|nagpur|  west|     91013.0|229704.0|        29.68|
|     1223|nagpur|  west|    297321.0|143804.0|        70.78|
|     1250|nagpur|  west|    366272.0|145010.0|        -7.91|
|     1275|nagpur|  west|    441168.0|269966.0|        16.04|
|     1291|nagpur|  west|     70949.0|354685.0|         97.7|
|     1357|nagpur|  west|    491869.0| 66944.0|        -1.34|
|     1394|nagpur|  west|    651591.0|389920.0|        51.74|
|     1488|nagpur|  west|     80167.0|128157.0|        45.38|
|     1515|nagpur|  west|    943560.0|228782.0|        26.07|
|     1542|nagpur|  west|    438639.0| 76596.0|        68.97|
+---------+------+------+------------+--------+-------------+
only showing top 20 rows

+-----------+---+-------------+------+------+---------+---------+
|Customer_ID|Age|Customer_Type|  City|Region|Bank_Name|Branch_ID|
+-----------+---+-------------+------+------+---------+---------+
|     201642| 48|   individual|nagpur| north|hdfc bank|     1386|
|     205195| 48|   individual|nagpur| north|hdfc bank|     1450|
|     205203| 48|   individual|nagpur| north|hdfc bank|     1986|
|     205709| 48|   individual|nagpur| north|hdfc bank|     1179|
|     206331| 48|   individual|nagpur| north|hdfc bank|     1754|
|     207240| 48|   individual|nagpur| north|hdfc bank|     1038|
|     208051| 48|   individual|nagpur| north|hdfc bank|     1180|
|     209611| 48|   individual|nagpur| north|hdfc bank|     1406|
|     209531| 48|   individual|nagpur| north|hdfc bank|     1338|
|     200124| 77|   individual|nagpur| north|hdfc bank|     1070|
|     200260| 76|   individual|nagpur| north|hdfc bank|     1052|
|     200336| 49|   individual|nagpur| north|hdfc bank|     1799|
|     200346| 28|   individual|nagpur| north|hdfc bank|     1930|
|     200531| 18|   individual|nagpur| north|hdfc bank|     1260|
|     200702| 57|   individual|nagpur| north|hdfc bank|     1188|
|     200793| 36|   individual|nagpur| north|hdfc bank|     1102|
|     200805| 53|   individual|nagpur| north|hdfc bank|     1875|
|     200945| 41|   individual|nagpur| north|hdfc bank|     1814|
|     201104| 68|   individual|nagpur| north|hdfc bank|     1194|
|     201133| 33|   individual|nagpur| north|hdfc bank|     1704|
+-----------+---+-------------+------+------+---------+---------+
only showing top 20 rows

+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
|Transaction_ID|Customer_ID|Account_Type|Total_Balance|Transaction_Amount|Investment_Amount|  Investment_Type|Transaction_Date|
+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
|        300008|     201643|    business|      60911.0|            5224.0|          45985.0|recurring deposit|      2025-02-04|
|        300021|     209684|    business|      70335.0|             361.0|          47823.0|recurring deposit|      2024-08-08|
|        300041|     202102|    business|      86047.0|            1011.0|          19917.0|recurring deposit|      2022-08-12|
|        300045|     201453|    business|      41400.0|            3924.0|          29495.0|recurring deposit|      2023-09-06|
|        300057|     202042|    business|      79085.0|            3989.0|          46476.0|recurring deposit|      2024-11-05|
|        300073|     204152|    business|      41654.0|             292.0|           6727.0|recurring deposit|      2024-12-02|
|        300074|     202561|    business|      94115.0|            3227.0|          16048.0|recurring deposit|      2023-10-08|
|        300076|     208596|    business|      77182.0|             385.0|          37067.0|recurring deposit|      2023-10-17|
|        300085|     207741|    business|      46631.0|            1164.0|          29535.0|recurring deposit|      2024-10-22|
|        300087|     208995|    business|      20259.0|            2198.0|           3160.0|recurring deposit|      2022-12-11|
|        300088|     201127|    business|       2577.0|            1476.0|           5260.0|recurring deposit|      2024-06-27|
|        300097|     209421|    business|      83453.0|            1409.0|          29438.0|recurring deposit|      2023-02-25|
|        300107|     208391|    business|      57068.0|             544.0|          43856.0|recurring deposit|      2023-02-11|
|        300108|     209582|    business|      77018.0|            2580.0|          13089.0|recurring deposit|      2024-08-18|
|        300113|     200053|    business|      88489.0|            4528.0|          25322.0|recurring deposit|      2023-11-25|
|        300124|     208850|    business|      43169.0|            2984.0|          28130.0|recurring deposit|      2024-01-15|
|        300126|     202265|    business|      72586.0|            3575.0|          38148.0|recurring deposit|      2023-12-01|
|        300132|     204599|    business|       6606.0|             674.0|           6690.0|recurring deposit|      2022-08-09|
|        300138|     208610|    business|      92016.0|            1833.0|          33244.0|recurring deposit|      2025-02-10|
|        300140|     204532|    business|      76590.0|             689.0|          38185.0|recurring deposit|      2024-10-02|
+--------------+-----------+------------+-------------+------------------+-----------------+-----------------+----------------+
only showing top 20 rows

**Customer Financial Summary (Gold Table)
Calculate total transaction amount and investment amount per customer.**

In [13]:
from pyspark.sql.functions import sum

df_gold_customer = df_transaction_silver.groupBy("Customer_ID").agg(
    sum("Transaction_Amount").alias("Total_Spent"),
    sum("Investment_Amount").alias("Total_Invested")
)

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 15, Finished, Available, Finished)

In [14]:
df_gold_customer.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 16, Finished, Available, Finished)

+-----------+-----------+--------------+
|Customer_ID|Total_Spent|Total_Invested|
+-----------+-----------+--------------+
|     209955|    10317.0|      103953.0|
|     206719|     2416.0|       22631.0|
|     205392|      119.0|       20675.0|
|     204877|     3649.0|       24313.0|
|     206378|     2957.0|       35931.0|
|     201946|     4876.0|       44179.0|
|     209029|     1003.0|        9014.0|
|     202641|     6219.0|       61471.0|
|     204780|     3325.0|       15867.0|
|     203429|     8291.0|       42464.0|
|     206817|     4111.0|       12971.0|
|     209326|      244.0|        8063.0|
|     206351|     2984.0|       34253.0|
|     205306|     5857.0|       55988.0|
|     204908|     2324.0|       14388.0|
|     207398|     4324.0|       14334.0|
|     202242|     4266.0|       48906.0|
|     207103|     2356.0|       30155.0|
|     203504|     2180.0|       19059.0|
|     204529|     2349.0|       26989.0|
+-----------+-----------+--------------+
only showing top 20 rows

**Profitability Report by Bank->Branch (Gold Table)
Calculate profit margin percentage for each branch.**

In [15]:
from pyspark.sql.functions import (col, expr)

df_gold_branch = df_bank_silver.withColumn(
    "Profit_Percentage",
    expr("Profit_Margin / Firm_Revenue * 100")  # Converting to percentage
)

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 17, Finished, Available, Finished)

In [16]:
df_gold_branch.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 18, Finished, Available, Finished)

+---------+------+------+------------+--------+-------------+--------------------+
|Branch_ID|  City|Region|Firm_Revenue|Expenses|Profit_Margin|   Profit_Percentage|
+---------+------+------+------------+--------+-------------+--------------------+
|     1004|nagpur|  west|    282701.0|148194.0|        -14.1|-0.00498760174176...|
|     1012|nagpur|  west|    969777.0|347637.0|        -11.4|-0.00117552798220...|
|     1036|nagpur|  west|    729537.0|225109.0|         7.71|0.001056834677336...|
|     1054|nagpur|  west|    967410.0|419776.0|       -46.92|-0.00485006357180...|
|     1069|nagpur|  west|   514074.18|279148.0|        64.56|0.012558498853219977|
|     1077|nagpur|  west|    985286.0|152371.0|        -6.82|-6.92184807253934...|
|     1081|nagpur|  west|    810727.0|234848.0|        63.59|0.007843577431120463|
|     1084|nagpur|  west|    604344.0|406488.0|         4.09|6.767668744953205E-4|
|     1118|nagpur|  west|    204248.0|208385.0|         83.7|0.040979593435431436|
|     1162|nagpur|  west|    505660.0|216164.0|        39.35|0.007781908792469248|
|     1189|nagpur|  west|     91013.0|229704.0|        29.68| 0.03261072594025029|
|     1223|nagpur|  west|    297321.0|143804.0|        70.78|0.023805920200725816|
|     1250|nagpur|  west|    366272.0|145010.0|        -7.91|-0.00215959723921...|
|     1275|nagpur|  west|    441168.0|269966.0|        16.04|0.003635803140753...|
|     1291|nagpur|  west|     70949.0|354685.0|         97.7| 0.13770454833753823|
|     1357|nagpur|  west|    491869.0| 66944.0|        -1.34|-2.72430260902801...|
|     1394|nagpur|  west|    651591.0|389920.0|        51.74|0.007940563942718668|
|     1488|nagpur|  west|     80167.0|128157.0|        45.38| 0.05660683323562064|
|     1515|nagpur|  west|    943560.0|228782.0|        26.07|0.002762940353554623|
|     1542|nagpur|  west|    438639.0| 76596.0|        68.97|0.015723636065192562|
+---------+------+------+------------+--------+-------------+--------------------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import col, expr, round

df_gold_branch = df_bank_silver.withColumn(
    "Profit_Percentage",
    round(expr("Profit_Margin / Firm_Revenue * 100"), 2)  # Rounding to 2 decimal places
)

df_gold_branch.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 19, Finished, Available, Finished)

+---------+------+------+------------+--------+-------------+-----------------+
|Branch_ID|  City|Region|Firm_Revenue|Expenses|Profit_Margin|Profit_Percentage|
+---------+------+------+------------+--------+-------------+-----------------+
|     1004|nagpur|  west|    282701.0|148194.0|        -14.1|              0.0|
|     1012|nagpur|  west|    969777.0|347637.0|        -11.4|              0.0|
|     1036|nagpur|  west|    729537.0|225109.0|         7.71|              0.0|
|     1054|nagpur|  west|    967410.0|419776.0|       -46.92|              0.0|
|     1069|nagpur|  west|   514074.18|279148.0|        64.56|             0.01|
|     1077|nagpur|  west|    985286.0|152371.0|        -6.82|              0.0|
|     1081|nagpur|  west|    810727.0|234848.0|        63.59|             0.01|
|     1084|nagpur|  west|    604344.0|406488.0|         4.09|              0.0|
|     1118|nagpur|  west|    204248.0|208385.0|         83.7|             0.04|
|     1162|nagpur|  west|    505660.0|216164.0|        39.35|             0.01|
|     1189|nagpur|  west|     91013.0|229704.0|        29.68|             0.03|
|     1223|nagpur|  west|    297321.0|143804.0|        70.78|             0.02|
|     1250|nagpur|  west|    366272.0|145010.0|        -7.91|              0.0|
|     1275|nagpur|  west|    441168.0|269966.0|        16.04|              0.0|
|     1291|nagpur|  west|     70949.0|354685.0|         97.7|             0.14|
|     1357|nagpur|  west|    491869.0| 66944.0|        -1.34|              0.0|
|     1394|nagpur|  west|    651591.0|389920.0|        51.74|             0.01|
|     1488|nagpur|  west|     80167.0|128157.0|        45.38|             0.06|
|     1515|nagpur|  west|    943560.0|228782.0|        26.07|              0.0|
|     1542|nagpur|  west|    438639.0| 76596.0|        68.97|             0.02|
+---------+------+------+------------+--------+-------------+-----------------+
only showing top 20 rows

**Bank Performance Analysis (Gold Table)
Analyze total customer transactions and investment per bank.**

In [18]:
df_gold_bank = df_transaction_silver.join(df_customer_silver, "Customer_ID", "inner").groupBy("Bank_Name").agg(
    sum("Transaction_Amount").alias("Total_Transactions"),
    sum("Investment_Amount").alias("Total_Investments")
)

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 20, Finished, Available, Finished)

In [19]:
df_gold_bank.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 21, Finished, Available, Finished)

+---------+--------------------+-----------------+
|Bank_Name|  Total_Transactions|Total_Investments|
+---------+--------------------+-----------------+
|hdfc bank|2.5427080480000023E7|     2.55502484E8|
+---------+--------------------+-----------------+

**Score customers based on risky behavior like:**

**Overdrafts**

**High volume of transactions**

**Large transactions**

**Suspicious/frequent withdrawals**

In [22]:
from pyspark.sql.functions import when, lit, count

df_customer_behavior = df_transaction_silver.groupBy("customer_id").agg(
    sum("transaction_amount").alias("total_txn"),
    count("*").alias("txn_count")
)

df_gold_risk_scores = df_customer_behavior.withColumn(
    "risk_score",
    when(col("total_txn") > 500000, lit("High"))
    .when(col("txn_count") > 100, lit("Medium"))
    .otherwise(lit("Low"))
)

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 24, Finished, Available, Finished)

In [23]:
df_gold_risk_scores.show()

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 25, Finished, Available, Finished)

+-----------+---------+---------+----------+
|customer_id|total_txn|txn_count|risk_score|
+-----------+---------+---------+----------+
|     209955|  10317.0|        3|       Low|
|     206719|   2416.0|        1|       Low|
|     205392|    119.0|        1|       Low|
|     204877|   3649.0|        1|       Low|
|     206378|   2957.0|        1|       Low|
|     201946|   4876.0|        1|       Low|
|     209029|   1003.0|        1|       Low|
|     202641|   6219.0|        2|       Low|
|     204780|   3325.0|        1|       Low|
|     203429|   8291.0|        2|       Low|
|     206817|   4111.0|        1|       Low|
|     209326|    244.0|        1|       Low|
|     206351|   2984.0|        1|       Low|
|     205306|   5857.0|        2|       Low|
|     204908|   2324.0|        1|       Low|
|     207398|   4324.0|        1|       Low|
|     202242|   4266.0|        1|       Low|
|     207103|   2356.0|        1|       Low|
|     203504|   2180.0|        1|       Low|
|     204529|   2349.0|        1|       Low|
+-----------+---------+---------+----------+
only showing top 20 rows

In [24]:
# Saving Customer Summary
df_gold_customer.write.format("delta").mode("overwrite").save("abfss://FabricTrainingWorkspace@onelake.dfs.fabric.microsoft.com/LH_Finance_Project_Prathamesh_Kodgirwar.Lakehouse/Files/Gold/gold_customer_summary")

# Saving Branch Profitability
df_gold_branch.write.format("delta").mode("overwrite").save("abfss://FabricTrainingWorkspace@onelake.dfs.fabric.microsoft.com/LH_Finance_Project_Prathamesh_Kodgirwar.Lakehouse/Files/Gold/gold_branch_profitability")

# Saving Bank Performance
df_gold_bank.write.format("delta").mode("overwrite").save("abfss://FabricTrainingWorkspace@onelake.dfs.fabric.microsoft.com/LH_Finance_Project_Prathamesh_Kodgirwar.Lakehouse/Files/Gold/gold_bank_performance")

# Saving Risk Scores
df_gold_risk_scores.write.format("delta").mode("overwrite").save("abfss://FabricTrainingWorkspace@onelake.dfs.fabric.microsoft.com/LH_Finance_Project_Prathamesh_Kodgirwar.Lakehouse/Files/Gold/gold_risk_scores")

StatementMeta(, 0ca75b46-254a-445d-b5a7-6d542821a960, 26, Finished, Available, Finished)